# ignore test input copied from Advent of Code website
test_input.txt

# ignore auto.tfvars.json. They are usually used for dynamic programming
*.auto.tfvars.json

# ignore .terraform and state
.terraform
.terraform*
terraform.tfstate
terraform.tfstate.backup